{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT SU</title>
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>
  <ul class="menu">
    <div class="logo">
      <img src="{% static '/images/user.png' %}" alt="">
    </div>
    <li><i class="bi bi-house-add-fill" style="font-size: 40px;"></i><a href="/">จองห้องเรียน</a></li>
    <li><i class="bi bi-door-open-fill" style="font-size: 40px;"></i>
      <div class="dropdown">
        <button class="dropbtn">เข้าสู่ระบบ</button>
        <div class="dropdown-content">
        <a href="/admin">สำหรับผู้ดูแลระบบ</a>
        <a href="/login">สำหรับ User ทั่วไป</a>
        </div>
      </div>
    </li>
  </ul>
<div class="section-1">
  <div class="container-home">
    <div class="item-home">
        <h1>ห้องเรียนที่เปิดจอง</h1>
    </div>
    
    {% include 'choosehome.html' %}

  </div>
</div>
<div class="footer">
  <p>Copyright © 2024 Your Company. All rights reserved.</p>
</div>  
</body>
</html>