{% load static %}
<div class="item-4">
    <div class="item-4-room">
        <img src="{% static '/images/room1.jpg' %}" alt="">
        <h2>ท.137</h2>
        <p>50 seats</p>
    </div>

    <div class="item-4-room">
        <img src="{% static '/images/room2.jpg' %}" alt="">
        <h2>ท.140-1</h2>
        <p>50 seats</p>
    </div>

    <div class="item-4-room">
        <img src="{% static '/images/room3.jpg' %}" alt="">
        <h2>ท.142</h2>
        <p>50 seats</p>
    </div>

    <div class="item-4-room">
        <img src="{% static '/images/room4.jpg' %}" alt="">
        <h2>ท.144</h2>
        <p>50 seats</p>
    </div>

    <div class="item-4-room">
        <img src="{% static '/images/room5.png' %}" alt="">
        <h2>ท.526</h2>
        <p>50 seats</p>
    </div>

    <div class="item-4-room">
        <img src="{% static '/images/room6.jpg' %}" alt="">
        <h2>ท.539</h2>
        <p>50 seats</p>
    </div>
</div>