{% load static %}
<div class="item-4-search">
    {% if room and room.room_number == 'ท.137' %}
    <div class="item-4-room">
        <img src="{% static '/images/room1.jpg' %}" alt="">
        <h2>ท.137</h2>
        <p>50 seats</p>
        <button type="button" onclick=""><a href="/form_room1" style="text-decoration: none;">Book</a></button>
    </div>
    {% elif room_number %}
    <p>Room not found</p>
    {% endif %}

    {% if room and room.room_number == 'ท.140-1' %}
    <div class="item-4-room">
        <img src="{% static '/images/room2.jpg' %}" alt="">
        <h2>ท.140-1</h2>
        <p>50 seats</p>
        <button type="button" onclick=""><a href="/form_room2" style="text-decoration: none;">Book</a></button>
    </div>
    {% elif room_number %}
    <p>Room not found</p>
    {% endif %}

    {% if room and room.room_number == 'ท.142' %}
    <div class="item-4-room">
        <img src="{% static '/images/room3.jpg' %}" alt="">
        <h2>ท.142</h2>
        <p>50 seats</p>
        <button type="button" onclick=""><a href="/form_room3" style="text-decoration: none;">Book</a></button>
    </div>
    {% elif room_number %}
    <p>Room not found</p>
    {% endif %}

    {% if room and room.room_number == 'ท.144' %}
    <div class="item-4-room">
        <img src="{% static '/images/room4.jpg' %}" alt="">
        <h2>ท.144</h2>
        <p>50 seats</p>
        <button type="button" onclick=""><a href="/form_room4" style="text-decoration: none;">Book</a></button>
    </div>
    {% elif room_number %}
    <p>Room not found</p>
    {% endif %}

    {% if room and room.room_number == 'ท.526' %}
    <div class="item-4-room">
        <img src="{% static '/images/room5.png' %}" alt="">
        <h2>ท.526</h2>
        <p>50 seats</p>
        <button type="button" onclick=""><a href="/form_room5" style="text-decoration: none;">Book</a></button>
    </div>
    {% elif room_number %}
    <p>Room not found</p>
    {% endif %}

    {% if room and room.room_number == 'ท.539' %}
    <div class="item-4-room">
        <img src="{% static '/images/room6.jpg' %}" alt="">
        <h2>ท.539</h2>
        <p>50 seats</p>
        <button type="button" onclick=""><a href="/form_room6" style="text-decoration: none;">Book</a></button>
    </div>
    {% elif room_number %}
    <p>Room not found</p>
    {% endif %}
</div>